.services {
    &-list {

        display: flex;
        gap: 50px;
        justify-content: space-between;
        margin-bottom: 150px;

        @media ( max-width: 1600px ) { margin-bottom: 135px; }
        @media ( max-width: 1500px ) { margin-bottom: 120px; }
        @media ( max-width: 1440px ) { margin-bottom: 100px; }
        @media ( max-width: 1024px ) { margin-bottom: 60px; }
        @media ( max-width: 768px ) { flex-direction: column; }

        &-item {
            flex: 0 1 100%;
        }

        &__title {
            @extend p;
            margin-bottom: 22px;
        }
    }

}