@font-face {
    font-family: 'Ailerons';
    src: url('../fonts/ailerons-typeface.woff2') format('woff2'),
        url('../fonts/ailerons-typeface.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura-sctot-light.woff2') format('woff2'),
        url('../fonts/futura-sctot-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

// @font-face {
//     font-family: 'icomoon';
//     src: url('../fonts/icomoon/icomoon.woff2?m7euv') format('woff2'),
//          url('../fonts/icomoon/icomoon.woff?m7euv') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;
// }