// COLORS

$color-main: #231f20;
$color-purple: #8a311c;
$color-green: #365a43;
$color-lightGray: #e7e7e6;
$color-gray: #cdccca;

// FONTS

$font-ailerons:  "Ailerons";
$font-futura:    "Futura";
// $icomoon: "icomoon";

// BREAK POINTS

// $screen-lg: 1200px;
// $screen-md: 992px;
// $screen-sm: 768px;
// $screen-s:  576px;
// $screen-xs: 480px;

//CONTAINER WIDTH

// $container-width: 1440px;